@import  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,800;1,100;1,200;1,700&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #fff!important;

}
.App {
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  background-color: darkcyan;
  width: 100%;
  color: #f5f5f5;
  position: fixed;
  padding-left: 20px;
}
nav ul{
  display: flex;
  padding-right: 20px;
  margin-left: auto;
}
nav ul li{
  list-style: none;
  color: #f5f5f5;
  font-size: 20px;
  padding-right: 20px;
}

#navlink {
  color: black;
  margin-right: 30px;
  text-decoration: none
}

#navlink:hover {
  color: #2196F3;
  cursor: pointer;
}
.is-active {
  color: #2196F3 !important;
  font-weight: bold;
  text-decoration: none;
}
.MuiDataGrid-colCellTitle{
  font-weight: 700!important;
}
._editBtn{
  background:#2196F3;
  color:#fff;
  border-radius:50%;
  padding:5px;  
}
._editBtn:hover{
  cursor:'pointer'
}

._delBtn{
  color:#E10050;
  margin-left:5px;
  font-size:26px
}
._delBtn:hover{
  cursor:'pointer'
}
.MuiTablePagination-toolbar{
  float: left;
}